header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main {
  font-size: 40px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.nbhead {
  font-size: 16px;
  font-weight: bold;
}

.nbtext {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
